{% extends 'Pasteleria/Menu.html' %}

{%block page %}

{% load static %}

     <!--esta parte sera esatica, pero debe ser eliminada-->
      <div id="content-wrapper">

      <div class="container-fluid">


        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Productos
          </div>
          <div class="card-body">
            <div class="table-responsive">










      <form action="/compraExitosa/" method="post">










    <div class="row">


         <div class="col">
      <div id="content-wrapper">

      <div class="container-fluid">


        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            torta de manjar
          </div>
          <div class="card-body">
            <div class="table-responsive">


              <img width="150" height="150"  src="{% static "srcPasteleria/tortamanjar.jpeg" %}" alt="My image">

            </div>
          </div>
          <div class="card-footer small text-muted">

            <label for="tortaManar">Cantidad</label>
            <input id="tortaManjar" name="tortaManjar" type="number">
          </div>
        </div>

          </div>


        </div>

    </div>      









    <div class="col">
      <div id="content-wrapper">

      <div class="container-fluid">


        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            torta para novios
          </div>
          <div class="card-body">
            <div class="table-responsive">


              <img width="150" height="150"  src="{% static "srcPasteleria/tortanovios.jpeg" %}" alt="My image">

            </div>
          </div>
          <div class="card-footer small text-muted">
            <label for="tortanovios">Cantidad</label>
            <input id="tortaNovios"   name="tortaNovios" type="number">
          </div>
        </div>

          </div>


        </div>



      </div>

    </div>






        <button type="submit" class="btn btn-primary">Comprar</button>
        </form>












































            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

          </div>


        </div>
        <!-- /.content-wrapper -->






{% endblock page %}