{% extends 'Pasteleria/Menu.html' %}

{%block page %}

{% block content %}

<div id="descripcion" class="container">
    <h1>Arma tu torta</h1>

    <form action="#" autocomplete="off">
	
    <div class="form-group">
      <label for="exampleFormControlSelect1">Cantidad de porciones</label>
      <select class="form-control" id="exampleSelect1" name="inputPorciones">
        <option value="15">15 porciones</option>
        <option value="20">20 porciones</option>
        <option value="25">25 porciones</option>
        <option value="30">30 porciones</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Base</label>
      <select class="form-control" id="exampleSelect2" name="inputBase">
        <option value="1">Bizcocho</option>
        <option value="2">Bizcocho chocolate</option>
        <option value="3">Merengue</option>
        <option value="4">Hojarasca</option>
        <option value="5">Panqueque</option>
        <option value="6">Red Velvet y nueces</option>
      </select>
    </div>

    Relleno
    <div class="form-group">

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="inputManjar">
      <label class="form-check-label" for="exampleCheck1">Manjar</label>
    </div>


    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck2" name="inputMermelada1">
      <label class="form-check-label" for="exampleCheck2">Mermelada Frambuesa</label>
  	</div>

       <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck3" name="inputMermelada2">
      <label class="form-check-label" for="exampleCheck3">Mermelada Frutilla</label>
  	</div>

     <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck4" name="inputMermelada3">
      <label class="form-check-label" for="exampleCheck4">Mermelada Mix frutos rojos</label>
    </div>

     <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck5" name="inputMermelada4">
      <label class="form-check-label" for="exampleCheck5">Mermelada Duranznos</label>
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck6" name="inputCrema1">
      <label class="form-check-label" for="exampleCheck6">Crema mantequilla batida Blanca </label>
    </div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck7" name="inputCrema2">
      <label class="form-check-label" for="exampleCheck7">Crema mantequilla batida sabor Lucuma </label>
    </div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck8" name="inputCrema3">
      <label class="form-check-label" for="exampleCheck8">Crema mantequilla batida sabor Maracuyá </label>
    <div>
    	
    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck9" name="inputCrema4">
      <label class="form-check-label" for="exampleCheck9">Crema mantequilla batida sabor Frambuesa </label>
    </div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck10" name="inputCrema5">
      <label class="form-check-label" for="exampleCheck10">Crema mantequilla batida sabor Frandanos </label>
    </div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck11" name="inputCrema6">
      <label class="form-check-label" for="exampleCheck11">Crema mantequilla batida sabor Mix frutos rojos </label>
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck12" name="inputCremaP">
      <label class="form-check-label" for="exampleCheck12">Crema Pastelera </label>
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck13" name="inputCremaV">
      <label class="form-check-label" for="exampleCheck13">Crema Vegetal </label> 
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck14" name="inputCremaI">
      <label class="form-check-label" for="exampleCheck14">Crema Inglesa </label>   
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck15" name="inputGanache">
      <label class="form-check-label" for="exampleCheck15">Ganache Chocolate negro </label> 
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck16" name="inputFruta1">
      <label class="form-check-label" for="exampleCheck16">Durazno </label> 
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck17" name="inputFruta2">
      <label class="form-check-label" for="exampleCheck17">Piña </label> 
  	</div>

    <div class="form-check form-check-inline" >
      <input type="checkbox" class="form-check-input" id="exampleCheck18" name="inputFruta3">
      <label class="form-check-label" for="exampleCheck18">Frutillas </label> 
    </div>
    </div>


    <div class="form-group">
      <label for="exampleFormControlSelect1">Cobertura</label>
      <select class="form-control" id="exampleSelect3" name="inputCobertura">
        <option value="1">Ganache chocolate</option>
        <option value="2">Fondant (diseño elección)</option>
        <option value="3">Merengue</option>
        <option value="4">Manjar (adorno con nueces)</option>
        <option value="5">Crema mantequilla</option>
      </select>
    </div>







{% endblock content %}
{% endblock page %}