{% extends 'Pasteleria/Menu.html' %}

{%block page %}

{% block content %}

<div id="descripcion" class="container">


    <form action="#" autocomplete="off">
	<h1>Arma tu torta</h1>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Cantidad de porciones</label>
      <select class="form-control" id="exampleSelect1" name="inputPorciones">
        <option value="15">15 porciones</option>
        <option value="20">20 porciones</option>
        <option value="25">25 porciones</option>
        <option value="30">30 porciones</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Base</label>
      <select class="form-control" id="exampleSelect2" name="inputBase">
        <option value="1">Bizcocho</option>
        <option value="2">Bizcocho chocolate</option>
        <option value="3">Merengue</option>
        <option value="4">Hojarasca</option>
        <option value="5">Panqueque</option>
        <option value="6">Red Velvet y nueces</option>
      </select>
    </div>


        <div class="card mb-3">
          <div class="card-header" style="background: #f5c6cb">
            <i class="fas fa-table"></i>
            Rellenos
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                  <!-- relleno -->

                   <div class="form-group">
                   	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
					<div class="row">
					  <div class="form-group-lg col-xs-5">
					    <label class="control-label" for="facilities">Rellenos</label>
					    <div class="form-group-lg">
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Manjar</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Mermelada Frambuesa</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Mermelada Frutilla</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Mermelada Mix de frutos rojos</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Mermelada Durazno</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema mantequilla batida Blanca</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Lucuma</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Maracuyá</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Frambuesa</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Arandanos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema mantequilla batida Mis frutos Rojos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema vegetal blanca (Bravo)</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema Pastelera </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Crema Inglesa </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Ganache Chocolate negro </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Duraznos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Piña</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label class="checkbox-inline" th:text="${facility}">Frutillas </label>
					      </div>
					    </div>
					  </div>
					</div>
						
                        
              </table>

            </div>
          </div>
        </div>




    <div class="form-group">
      <label for="exampleFormControlSelect1">Cobertura</label>
      <select class="form-control" id="exampleSelect3" name="inputCobertura">
        <option value="1">Ganache chocolate</option>
        <option value="2">Fondant (diseño elección)</option>
        <option value="3">Merengue</option>
        <option value="4">Manjar (adorno con nueces)</option>
        <option value="5">Crema mantequilla</option>
      </select>
    </div>

    <br>

    <div class="form-group">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>





{% endblock content %}
{% endblock page %}