{% extends 'Pasteleria/Menu.html' %}

{%block page %}

{% block content %}

<div id="descripcion" class="container">

    <form action="/mostrar_resultado/" method="post" autocomplete="off">{% csrf_token %}
	<h1>Arma tu torta</h1>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Cantidad de porciones</label>
      <select class="form-control" id="exampleSelect1" name="inputPorciones">
        <option value="15">15 porciones</option>
        <option value="20">20 porciones</option>
        <option value="25">25 porciones</option>
        <option value="30">30 porciones</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Base</label>
      <select class="form-control" id="exampleSelect2" name="inputBase">
        <option value="Bizcocho">Bizcocho</option>
        <option value="Bizcocho de chocolate">Bizcocho chocolate</option>
        <option value="Merengue">Merengue</option>
        <option value="Hojarasca">Hojarasca</option>
        <option value="Panqueque">Panqueque</option>
        <option value="Red Velvet y nueces">Red Velvet y nueces</option>
      </select>
    </div>


        <div class="card mb-3">
          <div class="card-header" style="background: #f5c6cb">
            <i class="fas fa-table"></i>
            Rellenos
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                  <!-- relleno -->

                    <div class="form-group">
                   	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
					<div class="row">
					  <div class="form-group-lg col-xs-5">
					    <label class="control-label" for="facilities">Rellenos (máx. 4)</label>
					    <div class="form-group-lg">
					      <div th:each="facility : ${facilities}">
					        <input id="manjar" type="checkbox" name="Manajar" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="manjar" class="checkbox-inline" th:text="${facility}">Manjar</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="Mermelada Frambuesa" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" name="Mermelada Frambuesa"/>
					        <label for="Mermelada Frambuesa" class="checkbox-inline" th:text="${facility}">Mermelada Frambuesa</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="Mermelada Frutilla" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" name="Mermelada Frutilla"/>
					        <label for="Mermelada Frutilla" class="checkbox-inline" th:text="${facility}">Mermelada Frutilla</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="Mermelada Mix frutos rojos" name="Mermelada Mix frutos de rojos" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="Mermelada Mix frutos rojos" class="checkbox-inline" th:text="${facility}">Mermelada Mix de frutos rojos</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="Mermelada Durazno" name="Mermelada Durazno" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="Mermelada Durazno" class="checkbox-inline" th:text="${facility}">Mermelada Durazno</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="Crema mantequilla batida blanca" name="Creama mantequilla batida blanca" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="Crema mantequilla batida blanca" class="checkbox-inline" th:text="${facility}">Crema mantequilla batida Blanca</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="CremaLucuma" name="Crema mantequilla batida sabor lucuma" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="CremaLucuma" class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Lucuma</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaMaracuya" name="Crema mantequilla batida sabor Maracuyá" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaMaracuya" class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Maracuyá</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="crema frambuesa" name="Crema mantequilla batida sabor Frambuesa" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="crema frambuesa"class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Frambuesa</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaArandanos" name="Crema mantequilla batida sabor Arándanos" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaArandanos" class="checkbox-inline" th:text="${facility}">Crema mantequilla batida sabor Arándanos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaMixFrutosRojos" name="Crema mantequilla batida Mix frutos Rojos"type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaMixFrutosRojos"class="checkbox-inline" th:text="${facility}">Crema mantequilla batida Mix frutos Rojos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaVegetalBlanca" name="Crema vegetal blanca (Bravo)" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaVegetalBlanca" class="checkbox-inline" th:text="${facility}">Crema vegetal blanca (Bravo)</label>

					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaVegetalLucuma" name="Crema vegetal (Bravo) sabor Lúcuma" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaVegetalLucuma" class="checkbox-inline" th:text="${facility}">Crema vegetal (Bravo) sabor Lúcuma</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaVegetalMaracuya" name="Crema vegetal (Bravo) sabor Maracuyá" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaVegetalMaracuya" class="checkbox-inline" th:text="${facility}">Crema vegetal (Bravo) sabor Maracuyá</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaVegetalFrambuesa" name="Crema vegetal (Bravo) sabor Frambuesa" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaVegetalFrambuesa" class="checkbox-inline" th:text="${facility}">Crema vegetal (Bravo) sabor Frambuesa</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaVegetalArandanos" name="Crema vegetal (Bravo) sabor Arándanos" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaVegetalArandanos" class="checkbox-inline" th:text="${facility}">Crema vegetal (Bravo) sabor Arándanos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaVegetalMixFrutosRojos" name="Crema vegetal (Bravo) Mix frutos Rojos" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaVegetalMixFrutosRojos" class="checkbox-inline" th:text="${facility}">Crema vegetal (Bravo) Mix frutos Rojos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaPastelera" name="Crema Pastelera" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaPastelera" class="checkbox-inline" th:text="${facility}">Crema Pastelera </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="cremaInglesa" name="Crema Inglesa" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="cremaInglesa" class="checkbox-inline" th:text="${facility}">Crema Inglesa </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="ganacheChocolateNegro" name="Ganache Chocolate negro" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="ganacheChocolateNegro" class="checkbox-inline" th:text="${facility}">Ganache Chocolate negro </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="duraznos" name="Duraznos" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="duraznos" class="checkbox-inline" th:text="${facility}">Duraznos </label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="piña" name="Piña" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="piña" class="checkbox-inline" th:text="${facility}">Piña</label>
					      </div>
					      <div th:each="facility : ${facilities}">
					        <input id="frutillas" name="Frutillas" type="checkbox" th:field="*{checkedItems}" th:value="${facility}" />
					        <label for="Frutillas" class="checkbox-inline" th:text="${facility}">Frutillas </label>
					      </div>
					    </div>
					  </div>
					</div>
						
                        
              </table>

            </div>
          </div>
        </div>




    <div class="form-group">
      <label for="exampleFormControlSelect1">Cobertura</label>
      <select class="form-control" id="exampleSelect3" name="inputCobertura">
        <option value="Ganache de Chocolate">Ganache chocolate</option>
        <option value="Fondant ">Fondant (diseño elección)</option>
        <option value="Merengue">Merengue</option>
        <option value="Manjar (adorno con nueces)">Manjar (adorno con nueces)</option>
        <option value="Crema mantequilla blanca">Crema mantequilla blanca</option>
        <option value="Crema mantequilla lúcuma">Crema mantequilla lúcuma</option>
        <option value="Crema mantequilla maracuyá">Crema mantequilla maracuyá</option>
        <option value="Crema mantequilla frambuesa">Crema mantequilla frambuesa</option>
        <option value="Crema mantequilla Mix frutos rojos">Crema mantequilla Mix frutos rojos</option>
        <option value="Crema mantequilla Arándanos">Crema mantequilla Arándanos</option>

      </select>
    </div>

    <br>

    <div class="form-group">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>





{% endblock content %}
{% endblock page %}