{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registro</title>


            <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
</head>
<body>
<div align="center">
    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">log in</div>
        <h4>Registra tus datos</h4>
        <form action="./tryRegistrar/" method="post">
            {% csrf_token %}

            <label for="nombre">nombre</label>
            <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Su nombre aca" name="nombre">

            <label for="correo">correo</label>
            <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="Su correo aca" name="correo">

            <label for="telefono">telefono</label>
            <input type="number" class="form-control" id="telefono" placeholder="telefono" name="telefono">


            <label for="contraseña">contraseña</label>
            <input type="password" class="form-control" id="contraseña" placeholder="contraseña" name="contraseña">

            <label for="contraseña2">confirmar contraseña</label>
            <input type="password" class="form-control" id="contraseña2" placeholder="contraseña2" name="contraseña2">



            <button type="submit" class="btn btn-primary">registrame</button>


        </form>

    </div>
</div>
</body>
</html>